:root {
    --first-element: pink;
    --id-element: grey;
    --div-with-p-element: red;
    --third-element: green;
    --class-element: yellow;

    --the-first-last-lesson: #33FF57;
    --the-second-lesson: rgb(229, 255, 0);
    --the-third-lesson: rgb(248, 94, 4);
    --the-fourth-lesson: #FF33E6;
    --the-fifth-lesson: #5733FF;
    --the-sixth-lesson: #33E6FF;
    --first-background-for-lesson: #f9f9f9;
    --second-background-for-lesson: #f5f5f5;
    --third-background-for-lesson: #e7e7e7;
}

h3:first-child {
    color: var(--first-element);
}

#greycol {
    color: var(--id-element);
}

div:nth-of-type(2) > p{
    color: var(--div-with-p-element);
}

p:nth-of-type(3) {
    color: var(--third-element);
}

.yellow {
    color: var(--class-element);
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 6px;
    border: 1px solid #212121;
}

.caption {
    margin-bottom: 8px;
}

tbody tr:nth-child(odd) {
    background-color: var(--first-background-for-lesson);
}

tbody tr:nth-child(even) td:hover {
    background-color: var(--second-background-for-lesson);
}

tbody tr:nth-child(odd) td:hover {
    background-color: var(--third-background-for-lesson);
}

tbody tr:nth-of-type(6n+1) td:nth-child(1) {
    background-color: var(--the-first-last-lesson);
}

tbody tr:nth-of-type(6n+2) td:nth-child(1) {
    background-color: var(--the-second-lesson);
}

tbody tr:nth-of-type(6n+3) td:nth-child(1) {
    background-color: var(--the-third-lesson);
}

tbody tr:nth-of-type(6n+4) td:nth-child(1) {
    background-color: var(--the-fourth-lesson);
}

tbody tr:nth-of-type(6n+5) td:nth-child(1) {
    background-color: var(--the-fifth-lesson);
}

tbody tr:nth-of-type(6n+6) td:nth-child(1) {
    background-color: var(--the-sixth-lesson);
}